@import url(https://fonts.googleapis.com/css?family=MedievalSharp);


/* NEWS PAGE STYLE FOLLOWS */

.news-item {
	border: 3px solid black;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 5%;
}

.news-title {
    margin-top: 3%;
	margin-left: 8%;
}

.news-read-more {
	bottom: 0;
	text-align: right;
}

.news-pagination {
	text-align: center;
}
.news-pagination > ul {
	margin: 0;
}

.border-pagination
{
	border-width: 3px; 
	border-color: black; 
	border-style: solid;
}
